extends layout

block content
  h1 chatroom
 
  p#nickname #{nickname}
  p#count
  p#nicknames
  script(src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js')
  script(src='/socket.io/socket.io.js').
  script.
    var socket = io.connect('http://127.0.0.1:3000');
    //发送昵称回去
    socket.emit('nickname',$('#nickname').text());
    //有人进入
    socket.on('in',function (data){
    	$('#count').html('count:'+data.count);
    	$('#nicknames').html('nicknames:'+data.nicknames);
    });
    
